TOKEN=
MONGO_URI=
START_CHANNEL_ID=
SHUTDOWN_WEBHOOK_URL=
DEV=

VERIFIED_ROLE_ID=
UNVERIFIED_ROLE_ID=
VERIFICATION_CHANNEL_ID=

WELCOME_CHANNEL_ID=

MOD_LOG_CHANNEL_ID=
MSG_LOG_CHANNEL_ID=
MEMBER_LOG_CHANNEL_ID=
CHANNEL_LOG_CHANNEL_ID=